@import url('./components/li-first-level/style.css');
@import url('./components/pannel/style.css');

:root {
    --aardex-mega-menu-width: 375px;
    --aardex-mega-menu-space-section-horizontal: 20px;
    --aardex-mega-menu-font-size: 14px;
    --aardex-mega-menu-input-height: 56px;
    --aardex-mega-menu-input-gap: 4px;

    --aardex-mega-menu-background: #F8F8F8;
    --aardex-mega-menu-primary-color: #0072BF;

    --aardex-mega-menu-gray-80: #484848;
    --aardex-mega-menu-gray-70: #707070;
}

/* Main Wrapper */
ul.aardex-mega-menu {

    /* Position */
    position: fixed;
    left: 0;
    top: 0;

    /* Sizings */
    font-size: var(--aardex-mega-menu-font-size);
    padding: 0 var(--aardex-mega-menu-space-section-horizontal);

    width: var(--aardex-mega-menu-width);
    max-width: 100vw;
    min-height: 100vh;

    /* Colors */
    background-color: var(--aardex-mega-menu-background);
    color: black;

    margin: 0;
    list-style: none;
    
    &,
    & * {
        box-sizing: border-box;
    }
}