@media screen and (max-width:1024px) {

    .aardex-mega-menu--pannel {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: var(--aardex-mega-menu-content-height);

        display: flex;
        flex-direction: column;

        background-color: var(--aardex-mega-menu-background);
        pointer-events: none;
        opacity: 0;

        transition: opacity.2s, left .4s;

        /* When not open, hide and deactivate any click events */
        &.open {
            left: 0%;
            opacity: 1;
            pointer-events: all !important;
        }

    }

    /* Add scrollbar to the content inside the pannel */
    .aardex-mega-menu--pannel_content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .aardex-mega-menu--pannel_back_button {
        width: 100%;
        min-height: var(--aardex-mega-menu-input-height);
        font-weight: 700;
        font-family: inherit;
        font-size: 16px;
        color: var(--aardex-mega-menu-gray-80);
        border: none;
        border-radius: 0;
        background: #E8E8E8;
        outline: none;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--aardex-mega-menu-input-gap);

        padding: 0 var(--aardex-mega-menu-space-section-horizontal);

        & svg {
            stroke: var(--aardex-mega-menu-primary-color);
        }
    }

    .aardex-mega-menu--pannel_content>ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px var(--aardex-mega-menu-space-section-horizontal);
        margin: 0;
        list-style: none;
    }

    .aardex-mega-menu--pannel_see_all a {
        font-size: var(--aardex-mega-menu-font-size);
        color: var(--aardex-mega-menu-gray-70);
        letter-spacing: 5%;
        text-decoration: underline;
        font-weight: 400;
    }

}