@import url('./third-level-item.css');
@import url('./second-level-item.css');
@import url('./first-level-item.css');
@import url('./pannel.css');
@import url('./mobile-header.css');
@import url('./items-group.css');

:root {
    --aardex-mega-menu-width: 375px;
    --aardex-mega-menu-space-section-horizontal: 20px;
    --aardex-mega-menu-font-size: 14px;
    --aardex-mega-menu-input-height: 56px;
    --aardex-mega-menu-input-gap: 4px;

    --aardex-mega-menu-background: #F8F8F8;
    --aardex-mega-menu-primary-color: #0072BF;

    --aardex-mega-menu-gray-80: #484848;
    --aardex-mega-menu-gray-70: #707070;
    --aardex-mega-menu-gray-60: #888A8C;
    --aardex-mega-menu-gray-40: #C6C6C6;

    --aardex-mega-menu-mobile-header-height: 96px;
    --aardex-mega-menu-content-height: calc(100vh - 96px);

    overflow: hidden;
}

.aardex-mega-menu-main-wrapper {
    width: fit-content;
}

button {
    cursor: pointer;
    outline: none;

    &:focus {
        outline: solid #0072BF 2px;
        border-radius: 3px;
        outline-offset: 3px;
    }
}

@media screen and (max-width:1024.9px) {

    .aardex-mega-menu--toggle-button {

        padding: 0;
        border: none;
        background: none;
        width: 40px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        & svg {

            width: 16px;
            height: 16px;

        }


    }

    button {
        cursor: pointer;

        &:focus {

            outline-color: #0072BF;
        }
    }

    .aardex-mega-menu--wrapper {
        position: fixed;
        top: 0;
        right: -100%;
        margin: 0;
        width: var(--aardex-mega-menu-width);
        max-width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: right .4s;

        color: black;
        background-color: var(--aardex-mega-menu-background);

        &.open {
            right: 0;
        }
    }

    /* Main Wrapper */
    ul.aardex-mega-menu--items {

        /* Keeps the panels on the wrapper */
        position: relative;

        /* Sizings */
        font-size: var(--aardex-mega-menu-font-size);

        /* 2 pixels just to show the outline, but it is not on the figma layout */
        padding: 2px var(--aardex-mega-menu-space-section-horizontal);

        width: 100%;

        height: var(--aardex-mega-menu-content-height);

        /* Has no open panels, so activate the scrollbar */
        &:not(:has(.open)) {
            overflow-x: hidden;
            overflow-y: auto;
        }

        margin: 0;
        list-style: none;

        &,
        & * {
            box-sizing: border-box;
        }
    }
}

@media screen and (min-width:1024.9px) {

    .aardex-mega-menu--mobile-header {
        display: none;
    }

    .aardex-mega-menu--toggle-button {

        display: none;

    }

    .aardex-mega-menu--wrapper {
        width: fit-content;
    }

    .aardex-mega-menu--items {
        margin: 0;
        font-family: 'Lato';

        height: 46px;
        position: relative;
        display: flex;

        list-style: none;
        justify-content: center;
        align-items: center;

        gap: 32px;
        background-color: white;
        padding: 0 32px;
        border: solid 1px #F8F8F8;
        border-radius: 100px;
        box-shadow: 0px 2px 20px 0px #0046761A;

        & * {
            position: static;
        }
    }

}